.clickable-buttons {
    display: inline-block;
    padding: 10px 15px;
    background: #fff;
    border: 1px solid #ccc;
    margin: 7px;
    border-radius: 5px;
    color: inherit;
}

.clickable-buttons:hover, .clickable-buttons:focus {
    background: #28a745;
    border: 1px solid #28a745;
    color: #fff;
    cursor: pointer;
}

.clickable-buttons.active, .clickable-buttons.selected {
    background: #28a745;
    border: 1px solid #28a745;
    color: #fff;
}

.clickable-buttons.disabled, .clickable-buttons.booked {
    background: #ccc;
    border: 1px solid #ccc;
}

.clickable-buttons.disabled:hover, .clickable-buttons.booked:hover {
    cursor: not-allowed;
    color: inherit;
}